# Archivos de entorno
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt

# Entornos virtuales
venv/
env/
ENV/
virtualenv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Base de datos
*.db
*.sqlite3